<h1 class='header'>Welcome</h1>
<div class='row'>
    <div class='col'>
      <br>
      <br>
  <p class='par'>Let's make a nice big leafy tree. You could sit here for weeks with your one hair brush trying to do that - or you could do it with one stroke with an almighty brush. Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. These things happen automatically. All you have to do is just let them happen. We start with a vision in our heart, and we put it on canvas.
  
    Talk to trees, look at the birds. Whatever it takes. Be brave. All you need to paint is a few tools, a little instruction, and a vision in your mind. When you do it your way you can go anywhere you choose.
    </p>
  </div>
  <div class='col'>
    <br>
     <img src='https://images.unsplash.com/photo-1550948390-6eb7fa773072?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60' />
    </div>
  </div>