body {
    color: #3d5367;
    background: #fffdef;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

#gardenerimg {
    height: 450px;
    width: 300px;
    border: 5px solid #3d5367;
    border-radius: 5px;
    border-style: double;
    overflow: hidden;
    margin: 2em;
}

#gardenerimg:hover{
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    transform: scale(1.02)
}

#abouttext{
    padding: 50px;
    color: #3d5367;
}