
    <div class="aboutcontainer">
        <div class="row">
                <div id="imgcontainer" class="col-4">
                    <img id="gardenerimg" src="../assets/image/woman-in-white-dress-shirt-holding-a-plant-3612089.jpg">
                </div>
                <div id="abouttext" class="col-8">
                    
                        <h1 style="font-size: 30px; font-weight: bold;">A little bit about who we are...</h1>
                        <br/>
                        Since opening way back in March 2020 as an eclectic hub of plants and gardening products, <b style="font-weight: 600;">Gardens Etc.</b> is one of the most extensive and 
                        comprehensive go-to online store for all your gardening needs.
                        We're proud of our high-class customer service and premium online shopping experience!
                        <br/>
                        <br/>
                        Our online store features the country's finest plants, ready for your home or garden!
                        <br/>   
                        <br/>     
                        Have any special requests? Don't hesitate to go to our <a href="">Contact Page</a> and shoot us a message! We aim to please.
                    
                </div>
            </div>
        </div>    
    








