body {
    color: #3d5367;
    font-family: 'Roboto', sans-serif;
    background: #fffdef;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

a {
    color: #3d5367;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #b2cecf;
}

#aboutbody {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 50px;
}

#gardenerimg {
    height: 450px;
    width: 300px;
    border: 5px solid #3d5367;
    border-radius: 5px;
    border-style: double;
    overflow: hidden;
}

#gardenerimg:hover{
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}

#abouttext{
    padding-top: 100px;
    color: #3d5367;
}