.jumbotron {
    text-align: center;
    background-color: #FFFDEF;
}
.card-img-top {
    align-items: center;
}
.display-4 {
    text-align: center;
}

.row {
    justify-content: center;
}

.btn {
    background-color: #FFE579;
    color: #3A5267;
    float: right;
}

.card-footer {
    background-color: #3A5267;
    color: white;
}

.card-body {
    text-align: center;
    color: #3A5267;
    background-color: #B4CFD0;
}

.card {
    margin-right: 3rem;
    margin-bottom: 3rem;
}
