.jumbotron {
    /* background-image: url("https://images.pexels.com/photos/1662567/pexels-photo-1662567.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: 30%; */
    text-align: center;
    background-color: #FFFDEF;
}

.display-4 {
    text-align: center;
}

.row {
    justify-content: center;
}
