/* You can add global styles to this file, and also import other style files */

#body {
    background-color: black;
}

html, body { height: 100%; }
body { 
    margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
}

.footer {
  margin-top: 100px;
  text-align: right;
}
/* Application-wide Styles */
h1 {
    color: #3d5367;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 250%;
  }
  h2, h3 {
    color: #3d5367;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  body {
    margin: .9em;
    background-color: #FFFDEF;
    margin-left: 100px;
    margin-right: 100px;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  